
body {
    background-color: #343a40db;
}

footer {
    background-color: #343a40;
    padding: 20px 30px 30px 100px;
    color: white;
}
footer a{
    color: white;
}
/* Set padding to keep content from hitting the edges */
main {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 75px;
    padding-bottom: 60px;
    background-color: lightgrey;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

#InputText {
    resize: none;
    height: 20em;
}
#result {
    resize: none;
    height: 20em;
}

.input-group {
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-tabs {
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn-secondary {
    border-radius: 0px !important;
}
.btn-group{
    margin-left: 0.20em;
    margin-right: 0em;
}


